header{
    padding-top: 15%;
    color: white;
    -webkit-text-stroke: 2.3px black;
    text-align: center;
    font-size: 6em;
}

.App{
    background-image: url('/images/street_bg.png'); 
    /* background-size: cover; Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-position: center center;  
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    width: 100vw; /* 100% of the viewport width */
    min-height: 100vh; /* At least 100% of the viewport height */
}

.start-buttons{
    text-align: center;
    list-style-type: none;
    border-radius: 8px;
}

.start-button{
    color: black;
    background-color: pink;
    border-color: pink;
    margin: 10px;
    font-size: 1.8em; 
    cursor: pointer;
    border-radius: 8px;

}